.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.signin-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.signin-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color:#36123b;
  font-weight: 500;
}

/* Form Styles */
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 14px;
  margin-bottom: 8px;
  color: #555;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ddd;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

input:focus {
  outline: none;
  border-color: #007bff;
}

/* Centered Button */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button[type="submit"] {
  background-color: #36123b;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #512557;
}

.error-message {
  color: red;
  font-size: 14px;
}

.success-message {
  color: green;
  font-size: 14px;
}

/* Sign-Up Redirect */
.signup-redirect {
  text-align: center;
  margin-top: 20px;
}

.signup-redirect p {
  font-size: 14px;
}

.signup-link {
  color: #007bff;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}

/* Snackbar styling */
.snackbar-container {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .signin-container {
    padding: 20px;
  }
}

@media (max-width: 576px) {
  .signin-container {
    width: 100%;
    padding: 15px;
  }

  h2 {
    font-size: 1.5rem;
  }

  button[type="submit"] {
    padding: 10px;
    font-size: 14px;
  }
}
